@use './core/variables' as varis;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .page {
    background-color: rgb(233, 243, 240);

    &_title {
        margin-inline: 25px;
        font-size: 25px;
        padding-top: 30px;
        margin-bottom: 25px;
        color:rgb(37, 190, 139);
        justify-content: center;
        text-align: center;
     
        @include varis.tablet {
            font-size: 40px;
        }
   
        @include varis.desktop {
            padding-top: 50px;
            margin-bottom: 25px;
            font-size: 45px;
        }
    }  

    &_border{
        border-top: 2px dashed black;
        padding-bottom: 35px;
    }
}

.form {
    display: grid;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 25px;
    gap: 10px;
    margin-inline: auto;
    
    @include varis.tablet {
        display: flex;
        width: 768px;
    }
    
    @include varis.desktop {
        padding-bottom: 55px;
    }

    &_search {
        width: 280px;
        height: 30px;
        border-radius: 8px;
        border: 2px solid rgb(37, 190, 139);
     
        @include varis.tablet {
            width:230px;
            height: 35px;
        }

        @include varis.desktop {
            width: 300px;
            height: 45px;
            border-radius: 8px;
            border: 2px solid rgb(37, 190, 139);
            margin-right: 25px;
        }
    }

    &_filter {
        font-weight: bold;
        font-size: 16px;
        color: rgb(37, 190, 139); 

        @include varis.tablet {
            font-size: 18px;
        }
        
        @include varis.desktop {
            font-size: 20px;
            padding-right: 15px;
        }
    }

    &_btn {
        align-items: center;
        background-color: rgb(37, 190, 139);
        border-radius: 5px;
        border: rgb(37, 190, 139);
        font-size: 14px;
        font-weight: bold;
        color: white;
        height: 25px;
        width: 55px;
        margin-inline: auto;

        @include varis.tablet {
            margin-right: 35px;
            height: 35px;
            width: 85px; 
        }

        @include varis.desktop {
            background-color: rgb(37, 190, 139);
            border-radius: 5px;
            border: rgb(37, 190, 139);
            font-size: 16px;
            font-weight: bold;
            color: white;
            height: 35px;
            width: 85px;
        }
    }
}

.cards {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 10px; 
    grid-row-gap: 20px;

    @include varis.tablet {
        margin-inline: 10px;
        justify-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5px;
        grid-row-gap: 15px;
    }

    @include varis.desktop {
       
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
    }
    
    &_list a {
        text-decoration: none;
    }

    &_list {
        text-align: center;
        align-items: center;     
        justify-content: center;
        list-style-type: none;
        width: 250px;
        height: 400px;
        border:5px dashed rgb(0, 0, 0);
        border-radius: 3%;
        background-color: rgb(37, 190, 139);

        @include varis.tablet {
            width: 230px;
            height: 400px;
        }

        @include varis.desktop {
            width: 280px;
            height: 585px;
        }
    }

    &_img { 
        margin-top: 15px;
        width: 180px;   
        height: 270px; 

        @include varis.desktop { 
            width: 240px;   
            height: auto;   
        }
    }
  
    &_movie {
        margin-top: 10px;
        font-size: 20px;
        color: white;

        @include varis.desktop {
            margin-top: 25px;
            font-size: 26px;
            color: white;
        }
    }

    &_year {
        font-size: 16px;
        color: yellow;

        @include varis.desktop {
            font-size: 22px;
            color: yellow;
        }
    }

    &_full_line {
        margin-inline: 10px;
        font-size:12px;
        color: white;

        @include varis.desktop {
            margin-inline: 10px;
            font-size:18px;
            color: white;
        }
    }
}

.detail {
    padding-bottom: 25px;
    list-style-type: none;
    width: 300px;
    height: auto;
    border: 12px dashed black; 
    background-color: rgb(37, 190, 139);
    text-align: center;
    justify-content: center;
    list-style-type: none;
    margin-inline: auto;

    @include varis.tablet {
        border: 15px dashed black;
        width: 700px;
    }

    @include varis.desktop {
        display: grid;
        grid-template-columns: 40% 60%;   
        border: 18px dashed black; 
        padding-bottom: 40px;
        width: auto;
    }
   
    &_colum {
        line-height: 40px;
        
        @include varis.tablet {
            line-height: 70px;
        }
    }

    &_img {
        border: 4px double red;
        margin-top: 25px;
        align-items: center;
        width: 220px;   
        height: 300px; 

        @include varis.tablet {
            width: 500px;   
            height: auto; 
        }

        @include varis.desktop {
            border: 8px double red;
            margin-left: 55px;
            width:380px;   
            height: auto; 
        }  
    }

    &_movie {
        padding-top: 45px;
        font-size: 45px;
        font-weight: bold;
        color: white;

        @include varis.tablet {
            font-size: 75px;
        }

        @include varis.desktop {
            margin-bottom: 25px;
            font-weight: bold;
            color: white;
        }
    }

    &_span {
        display: none;

        @include varis.tablet {
            display: inline-block;
            font-size: 25px;  
        }

        @include varis.desktop {
            font-size: 50px;
            margin-inline: 20px;
        }
    }

    &_director {
        font-size: 25px;
        color: yellow;

        @include varis.tablet {
            font-size: 35px;

        }

        @include varis.desktop {
            font-size: 45px;
        }
    }

    &_director_chair {
        height: 80px;
        width: 70px;

        @include varis.tablet {
            height: 120px;
            width: 110px;
        }

        @include varis.desktop {
            height: 160px;
            width: 140px;
        }
    }

    &_full_line {
        font-size: 20px;
        color: white;

        @include varis.tablet {
            font-size: 25px;

        }
        @include varis.desktop {
            margin-inline: 25px;
            font-size: 30px;
        }
    }

    &_audio {
        height: 85px;
        width:150px; 

        @include varis.tablet {
            height: 110px;
            width:180px; 
        }
    }
}

.btn {
    padding: 5px 5px;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    border: 2px solid yellow;
    background-color: yellow;
    border-radius: 8px;
    color: rgb(131, 18, 18);
    font-weight: bold;

    @include varis.tablet {
        margin-inline: auto;
        width: 75px;
        font-size: 20px;
    }

}